{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section">
    <div class="container">
      {{ range .RegularPages }}
        <div class="row justify-center mb-14">
          <div class="md:col-10 lg:col-8">
            <div class="text-center mb-8">
              {{ $image := .Params.image }}
              {{ if $image }}
                {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mx-auto mb-6 rounded-full" "Size" "150x150") }}
              {{ end }}
              <h2 class="mb-2">{{ .Title }}</h2>
              {{ with .Params.role }}
                <p class="text-primary text-lg mb-4">{{ . }}</p>
              {{ end }}
              {{ with .Params.social }}
                <ul class="social-icons justify-center mb-8">
                  {{ range . }}
                    <li>
                      <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
                        <span class="sr-only">{{ .name }}</span>
                        <i class="{{ .icon }}"></i>
                      </a>
                    </li>
                  {{ end }}
                </ul>
              {{ end }}
            </div>
            <div class="content">
              {{ .Content }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
